body {
  width: 100%;
  height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  overflow: hidden;
}

.header{
  min-height: 80px;
  border-bottom: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 24px;
  color: #333;
  font-family: cursive;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 60px;
  padding: 22px;
}

.countdown {
  font-size: 48px;
  font-family: cursive;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.buttons{
  display: flex;
  gap: 20px;
}

.button{
  padding: 12px 24px;
  font-size: 18px;
  font-family: cursive;
  border: none;
  border-radius: 8px;
  background-color: #3498db;
  color: white;
  cursor: pointer;

  &:disabled{
    background-color: #95a5a6;
    cursor: not-allowed;
  }
}

.select{
  width: 100px;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-family: cursive;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(3, 80px); */
  gap: 8px;
  background: #222;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.item{
  width: 60px;
  height: 60px;
  background: #3498db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: math;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
}

.highlight {
  background: #e74c3c;
  transform: scale(1.15);
}

@media(max-width: 500px) {
  .item{
    font-size: 18px;
  }
}

